# Tailscale IPs:
# M1 (Jane):                100.x.x.1
# M2 (Mika):                100.x.x.2
# M3 (Ryan - this laptop):  100.x.x.3
VITE_INVENTORY_URL=http://100.x.x.1:5173
VITE_POS_URL=http://100.x.x.2:8002
