# RUN serveo FIRST: ssh -R 80:localhost:517<PORT> serveo.net
# Copy the https://xxx.serveousercontent.com URL and paste below
VITE_INVENTORY_URL=https://M1_FRONTEND.serveo.net
VITE_POS_URL=https://M2_FRONTEND.serveo.net
